{
  "RAILS_ENV": "${rails_env}",
  "RAILS_LOG_TO_STDOUT": ${rails_log_to_stdout},
  "RAILS_SERVE_STATIC_FILES": ${rails_serve_static},
  "PUMA_PORT": ${puma_port},
  "WEB_CONCURRENCY": ${web_concurrency},
  "RAILS_MAX_THREADS": ${rails_max_threads},
  "RAILS_MIN_THREADS": ${rails_min_threads},

  "SECRET_KEY_BASE": "${secret_key_base}",

  "DATABASE_URL": "",
  "DATABASE_NAME": "${db_name}",
  "DATABASE_HOST": "${db_host}",
  "DATABASE_PORT": ${db_port},
  "DATABASE_USER": "${db_user}",
  "DATABASE_USERNAME": "${db_user}",
  "DATABASE_PASSWORD": "${db_password}",

  "OFFICE365_CLIENT_ID": "${office365_client_id}",
  "OFFICE365_CLIENT_SECRET": "${office365_client_secret}",
  "OFFICE365_REDIRECT_URI": "${office365_redirect_uri}",
  "OFFICE365_PROVIDER_URL": "${office365_provider_url}",

  "USE_SSL": ${use_ssl}
}
