- content_for :title
  | Project Dashboard

.mw_10
  #dashboard

= javascript_tag nonce: true do
  |var current_user = "#{JSON.generate(current_user.as_json( methods: :full_name))}";
  |var mpath_instance = "#{ENV['MPATH_INSTANCE']}";
  |var program_privilegs = "#{JSON.generate(current_user.project_privileges_hash)}";
  |var contract_privilegs = "#{JSON.generate(current_user.contract_privileges_hash)}";
  |var project_privilegs = "#{JSON.generate(current_user.facility_privileges_hash)}";
  |var program_settings_privileges = "#{JSON.generate(current_user.program_settings_privileges_hash)}";

  |var program_privilegs_roles = "#{JSON.generate(current_user.project_privileges_hash_by_role(program_ids: [@program_id]))}";
  |var contract_privilegs_roles = "#{JSON.generate(current_user.contract_privileges_hash_by_role(program_ids: [@program_id]))}";
  |var project_privilegs_roles = "#{JSON.generate(current_user.facility_privileges_hash_by_role(program_ids: [@program_id]))}";
  |var program_settings_privileges_roles = "#{JSON.generate(current_user.program_settings_privileges_hash_by_role(program_ids: [@program_id]))}";
  |var privilege = "#{JSON.generate(current_user.privilege_hash)}";
  |var preferences = "#{JSON.generate(current_user.get_preferences.value )}";
  |var project_facility_hash = "#{JSON.generate(generate_project_facility_hash )}";
  |var google_api_key = "#{Setting['GOOGLE_MAP_KEY']}";

= javascript_pack_tag "dashboard", async: true
= stylesheet_pack_tag "dashboard"
