- content_for :title
  | #{ENV['PORTFOLIO_TITLE']}

.mw_10
  #portfolio

= javascript_tag nonce: true do
  |var portfolio_heading = "#{ENV['PORTFOLIO_HEADING']}";
  |var portfolio_title = "#{ENV['PORTFOLIO_TITLE']}";
  |var current_program_id = "#{@program_id}";
  |var current_user = "#{JSON.generate(current_user.as_json( methods: :full_name))}";
  |var project_privilegs = "#{JSON.generate(current_user.facility_privileges_hash)}";
  |var privilege = "#{JSON.generate(current_user.privilege_hash)}";
  |var preferences = "#{JSON.generate(current_user.get_preferences.value )}";
  |var program_admin_role = "#{JSON.generate(Role.program_admin_user_role.to_json) }";
  |var project_facility_hash = "#{JSON.generate(generate_project_facility_hash )}";

  |var google_api_key = "#{Setting['GOOGLE_MAP_KEY']}";

= javascript_include_tag "portfolio", async: true
- if true
  = stylesheet_pack_tag "dashboard"