@font-face {
  font-family: 'FuturaPTBook';
  src: font-url('FuturaPTBook.otf');
}

body {
  font-family: 'FuturaPTBook';
  font-style: normal;
  font-weight: 300;
  overflow-x: hidden;
  overflow-y: hidden;
  letter-spacing: .035em; 
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  ::-webkit-scrollbar {
    background: #ededed;
    border-radius: 4px;
    height: 8px;
    margin:5px !important;
    padding:2px !important;
    width: 8px;
  }  
  ::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 4px;
  }
}    
.el-step__head.is-success {
  .el-step__line {
    background-color: #67C23A;
    color: #67C23A;
    border-color: #67C23A;
  }
}
// Vuetify Calendar Props
.v-present {
  .v-btn {
  border-radius: 3px !important;
  height: 30px !important;
  width: 30px !important;
  } 
}

.v-calendar-daily_head-day {
  .v-event.white--text {
    visibility: visible !important;
    background-color: rgba(214, 219, 223, .10) !important;
  }
}

.v-event.white--text {
  visibility: hidden;
}
.v-event.v-event-start {
  visibility: visible !important; 
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  
}
.v-event.v-event-end {
  visibility: visible !important; 
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;

}
.v-event-start, .v-event-end {
  // background-color: rgba(214, 219, 223, .10) !important;
  color: black !important;
}


.todayBtn, .back-forth-btn {
  border-radius: 4px;
  border-style: solid;
  border-width: thin;
  border-color: rgba(0,0,0,.12)!important
}   
.today-icon {
  color:  #1976d2 !important
}

.mh-green {
background-color: #9EC64C !important;
}
.mh-blue {
//  dark blue
 background-color: #1D336F !important;
}

.mh-blue-text {
  //  dark blue
   color: #1D336F !important;
  }
.mh-orange {
  background-color: #DD9036 !important;
}

.generic-border {
  // Generic border with Element UI dropdown border UI
border: 1px solid #DCDFE6 !important;
border-radius: 6px !important;
background-color: #fafafa;
padding: 3px !important;
}

.toggleWrapper#risk_toggles {
  margin-top: 0 !important;
}

.toggleWrapper {
  // Generic border with Element UI dropdown border UI
  border: 1px solid #DCDFE6 !important;
  border-radius: 6px !important;
  background-color: #fafafa;
  padding: 3px !important;
  margin-top: -8px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}
// MORE FILTERS in Sheet View
.issuesFilter, .risksFilter {
  z-index: 100;
.el-collapse-item__header {
  color: #383838 !important;
  // background-color: transparent !important;
  border-radius: 4px !important;
  border: 1px solid #DCDFE6 !important;
  padding: 3px !important;
  height: 32px !important;
  justify-content: center !important;


 }
 .el-select__tags {
    z-index: 95 !important;
  }
  .el-input--suffix {
    z-index: 90 !important;
  }
  .el-collapse-item__wrap {
    margin-top: 4px;
    border-radius: 3px !important;
    background-color: #fff !important;
    border-bottom: none !important;
    z-index: 100 !important;
    box-shadow: 1px 1px 1px rgba(56,56, 56,0.19), 1px 1px 1px 2px rgba(56,56,56,0.23);
    .el-collapse-item__content {
      padding-bottom: 10px;
    }
  }
}

span.mpathLogo {
  img {
    width: 200px;
  }
}
span.mhLogo {
  img {
    width: 250px;
    height: 51px;
  }
}
h4.mpath-logo {
  color: #DD9036;
  font-style: italic;
  font-weight: 500;
}
.program-row {
  height: 80px;
}
.hr-program-row {
  margin-top: 0.5rem;
}
.welcome-page-program-name {
  display: table-cell;
  vertical-align:middle;
}
.hr-program-row {
  margin-top: 0.5rem;
}
.welcome-page-program-name {
  display: table-cell;
  vertical-align:middle;
}
p {
  word-break: break-word;
}
button:focus,
input[type=button]:focus {
  outline: none !important;
  box-shadow: none !important;
}
.body-wrapper {
  border-top: 1px solid #dee2e6;
  padding: 7px 70px;
  overflow-y:scroll;
  max-height: calc(100vh - 70px) !important;
  padding-bottom: 50px;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
}
td.col-issue_type, td.col-issue_severity {
  text-transform: capitalize !important;
}
.font-sm {
  font-size: 13px;
}
.font-md {
  font-size: 15px;
}
.progress-0 {
  .progress-bar {
    margin-left: 5px;
    color: #383838
  }
}
.show-all {
  display: none;
 }
 .only-ra {
  display: none;
 }

 .kanban-text {
  //  font-weight: bold;
  color: #0275d8;
 }
.paginate-links.filteredNotes, .paginate {
  list-style: none !important;
  user-select: none;
  text-decoration-line: none !important;
  margin-bottom: 18px;
  a {
    width: 20px;
    height: 25px;
    margin-right: 0;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 2.5px 5px rgba(56,56, 56,0.19), 0 3px 3px rgba(56,56,56,0.23);
    color: #383838;
    padding: 5px 12px;
    cursor: pointer;
    text-decoration-line: none !important;
  }
  a:hover {
    background-color: #ededed;
  }
  li.active a {
    font-weight: bold;
    color: #383838;
    background-color: rgba(211, 211, 211, 10%);
  }
  a.active  {
    background-color: rgba(211, 211, 211, 10%);
  }
  li.next:before {
    content: ' | ';
    margin-right: 13px;
    color: #ddd;
  }
  li.disabled a {
    color: #ccc;
    cursor: no-drop;
  }
  li {
    display: inline !important;
    margin: 1px;
    color: #383838 !important;
  }
}
.el-card__body {
  padding: 15px !important;
}
.pg-content {
  width: 100%;
  height: 20px;
  font-weight: bold;
}
.progress-bar {
  color: black;
}
.icon-btn {
  background: #fff;
  cursor: pointer;
  height: 30px;
  width: 30px;
  font-size: 18px;
  justify-content: center;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65) !important;
  &:hover {
    background: #f4f4f4;
  }
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 1em;
  grid-column-gap: 1em;
}


// Portfolio page is on _landing.html.slim file
.portfolio-page {
  box-shadow: 0 2.5px 5px rgba(56,56, 56,0.19), 0 3px 3px rgba(56,56,56,0.23); 
  transition: all .2s ease-in
}
.portfolio-page:hover { 
  transform: scale(1.015); 
}

.program-name a {
 text-decoration: none !important;
 text-decoration-color: none !important;
}

.program-name a:active {
  text-decoration: none !important;
  text-decoration-color: none !important;
 }
 .program-name a:visited {
  text-decoration: none !important;
  text-decoration-color: none !important;
 }

 .program-name a:hover {
  text-decoration: none !important;
  text-decoration-color: none !important;
 }
 .program-name a:link {
  text-decoration: none !important;
  text-decoration-color: none !important;
 }

.lt-green {
  background-color: #90EE90
}
.lt-yellow {
  background-color: #FFFACD
}
.lt-red {
  background-color: #FFA07A
}
 .fafa {
  //  background-color: #fafafa;
   background-color:#e9ecef
 }

 .light-gray {
   color: rgb(24, 19, 19);
 }

.el-collapse-item__header {color:#0275d8 !important}
.el-collapse {
  border-top: none !important;
  border-bottom: 1px solid #EBEEF5;
}
.brand-sidebar {
  background-image: url('map-image.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  margin: 60px 50px;
  width: 70vw;
}
.auth-sidebar {
  width: 30vw;
  float: right;
  margin: 60px 50px;
}
.btn-social {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.fav-btn {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 10rem;
  padding: 0.25rem 0.6rem;
  font-size: 0.875rem;
  line-height: 1.25;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  &:hover {
    color: rgba(0, 0, 0, 0.7);
    background-color: #e2e6ea;
    border-color: #dae0e5;
  }
}
.fbody-icon {
  margin-right: 5px;
  font-size: 16px
}

// Items w/ "vuetify-" prefix can be deleted if vuetify is no longer used
.vuetify-checkitem {
  margin-top: 10px;
}

// Tabbed out form inside modals
.tab2, .tab3, .tab4, .tab5, .tab6 {
  min-height: 400px;
  background-color: #fff;
}
// Tabbed out form inside modals
.paperLookTab {
  // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding-bottom: 20px;
  margin-bottom: 10px;
  position: relative;
  background-color: #fff;
}

.action-form-overlay {
  position: absolute;
  top:0;
 } 
 .updateForm {
  width: 102% !important;
  margin-top: -15px;
  margin-left: -34px;
 } 
// This prevents the text overflow in all tables
 td {
  overflow-wrap: break-word !important;
 }


.warning-icon {
  font-size: 16px;
  color: #dc3545;
}
.crud-actions {
  display: flex;
  justify-content: flex-end;
  color: gray;
  span {
    cursor: pointer;
  }
}
.delete-action:hover {
  color: red;
}
.edit-action:hover {
  color: blue;
}
.pac-container {
  z-index: 100000;
}
.signin-section {
  // Signin page main container 

  overflow-y: auto;
  max-height: calc(100vh - 120px) !important;
}
.form-signin {
  position: absolute;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.signup-section,
.signin-section {
  .form-signin {  
    width: 450px;
    display: block;
    background-color: #f7f7f7;
    box-shadow: 0 0 3px 3px #888;
    border-radius: 2px;
  }
  .social-box {
    margin: 0 auto;
    padding: 38px;
    border-bottom: 1px #ccc solid;
  }
  .social-box a {
    font-weight: bold;
    font-size: 18px;
    padding: 8px;
  }
  .social-box a i {
    font-weight: bold;
    font-size: 20px;
  }
  .heading-desc {
    font-size: 20px;
    font-weight: bold;
    padding: 38px 38px 0px 38px;
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin .checkbox {
    font-weight: normal;
  }
  .form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: 20px;
    padding: 20px;
    box-sizing: border-box;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="text"] {
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .login-footer {
    background: #f0f0f0;
    margin: 0 auto;
    border-top: 1px solid #dadada;
  }
  .login-footer .left-section a {
    font-weight: bold;
    color: #8a8a8a;
    line-height: 19px;
  }
  .mg-btm {
    margin-bottom: 20px;
  }
}

.tooltip {
  display: block !important;
  z-index: 10000;

  .tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}
.form-control:disabled,
.form-control[readonly] {
  background: transparent;
}
.w-70 {
  width: 70%;
}
.w-104 {
  width: 104%;
}
.clickable {
  cursor: pointer;
}
.btn-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.m0-auto {
  margin: 0 auto;
}

/* vue date-picker style */
.vdp-datepicker /deep/ {
  .form-control[readonly] {
    background-color: unset;
  }
  .vdp-datepicker__calendar {
    width: 100%;
  }
  .vdp-datepicker__calendar .cell {
    height: unset;
    line-height: unset;
  }
  .vdp-datepicker__clear-button {
    position: absolute;
    display: flex;
    top: 0;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
  }
}
.__loading {
  margin-top: 125px;
  margin-left: -20px;
}
.mx-datepicker-main.mx-datepicker-popup {
  z-index: 10000001 !important;
}

.simple-select /deep/ .multiselect,
.user-select /deep/ .multiselect {

  .multiselect__tags {
    min-height: 25px;
    padding: 5px 40px 0 8px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    font-size: 13px;
  }
 
  .multiselect__single {
    font-size: 13px;
    position: relative;
    display: inline-block;
    padding: 4px 10px 4px 10px;
    border-radius: 5px;
    color: #fff;
    line-height: 1;
    background: #41b883;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    width: max-content;
  }
  .multiselect__select {
    width: 22px;
    height: 34px;
  }
  .multiselect__tag {
    margin-bottom: 1px;
  }
  .multiselect__placeholder {
    margin-bottom: 4px;
  }
}
body /deep/ .multiselect--disabled {
  background: transparent;
  .multiselect__select {
    background: transparent;
  }
}
body /deep/ .mx-input:disabled,
body /deep/ .mx-input.disabled {
  background-color: transparent;
  color: #555;
}
.input-group-text.clickable {
  padding: 0.375rem 0.75rem 0.375rem 0;
  background-color: transparent;
  border: none;
}
.mw-95 {
  min-width: 95%;
}
.load-spinner {
  display: flex;
  position: absolute;
  top: 45%;
  right: 50%;
}
._disabled {
  opacity: 0.5;
  pointer-events: none;
}
.b_border {
  border-bottom: 1px solid #ccc;
}
.page-btns {
  width: 20px;
  line-height: 1 !important;
  border: none !important;
  height: 25px;
  margin-right: 1px;
  background-color: white;  
  color: #383838;
  cursor: pointer;
}
.wrapper {    
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .10);
  border: 1px solid #dee2e6 !important;
  margin-bottom: 20px;
}
// CSS for datatables
.scroll {
  cursor:pointer !important;
  top: 35%;
  right: 5px;
  position:absolute; 
  color: #383838 !important;
  padding-left:4px !important
}
.exportBtns, #printBtn { 
  transition: all .2s ease-in-out; 
  background-color: #41b883;
  box-shadow: 0 2.5px 5px rgba(56,56, 56,0.19), 0 3px 3px rgba(56,56,56,0.23); 
}

.profile-btns {
  box-shadow: 0 2.5px 5px rgba(56,56, 56,0.19), 0 3px 3px rgba(56,56,56,0.23); 
}
.total-table-btns, .addCheckProgBtn {box-shadow: 0 2.5px 5px rgba(56,56, 56,0.19), 0 3px 3px rgba(56,56,56,0.23); }
.exportBtns:hover, #printBtn:hover { transform: scale(1.06); }
th {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sort-th {    
  cursor: pointer;
  font-family: 'FuturaPTBook';
  text-align: center;
  position: relative;
  vertical-align: middle !important;
}
.non-sort-th {    
  font-family: 'FuturaPTBook';
  text-align: center;
  position: relative;
  vertical-align: middle !important;
}

.sort-icon {
  color:#17a2b8 !important;
  font-size: .88rem !important;
} 
.inactive-sort-icon {
  color:#C0C4CC !important;
  font-size: .88rem !important;
} 

.el-collapse-item__arrow {
  margin-left: 20px;
}

.fa-sort {font-size: .75rem !important;}
.table {
  th {
    text-align: center;  
    letter-spacing: 0.2em;
    padding: 10px;
    font-size: 0.70rem;
    color: #383838;
  }
  td {
    padding: 6px;
    font-size: 14px;
    color: #606266;
  }
}
.upperCase, .multiselect__option {
  text-transform: capitalize !important;
}
// CSSS for datatable ends
.badge-active {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 3px 5px 2px 5px;
  font-size: 0.8em;
  background: #08A510;
  width: max-content;
  display: inline-block;
}
.badge-inactive {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 3px 5px 2px 5px;
  font-size: 0.8em;
  background: #FF0000;
  width: max-content;
  display: inline-block;
}

.toolTip {
  background-color: #6c757d !important;
  font-size: .75rem;
  padding:1px;
  color: #fff;
  border-radius: 3px;
}

.hide-to-edit {
  opacity: 0.1;
  pointer-events: none;
}
.blur_show {
  position: absolute;
  right: 5px;
  svg {
    font-size: 3em;
  }
}

.addProPrivBtn {
  margin: 6px;
}

.paginated-updates /deep/ .paginate-links {
  float: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  li {
    margin: 0 6px;
  }
  a {
    cursor: pointer;
  }
  .active a {
    color: #007bff;
    text-decoration: underline;
    font-weight: bold;
  }
  .next:before {
    content: ' | ';
    margin-right: 13px;
    color: #ddd;
  }
  .disabled a {
    color: #ccc;
    cursor: no-drop;
  }
}
.enum-select /deep/ .multiselect {
  width: 140px;
}
.has-search .form-control {
  padding-left: 2em;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 99;
  display: block;
  text-align: center;
  pointer-events: none;
  color: #ccc;
  margin: 0.6em;
}
.el-icon-loading {
  font-size: 50px;
  color: #17a2b8;
}
.el-icon-loading:before {
  color: #17a2b8;
}
.el-loading-spinner .el-loading-text {
    font-size: 20px;
    color: #17a2b8;
}
.el-loading-spinner {
  top: 45%
}
.el-notification {
  background-color: #17a2b8;
  h2, p, .__closeBtn {
    color: white;
  }
}
.el-notification__closeBtn {
  color: white;
}
.el-notification .el-icon-info {
  color: white;
}
.el-menu--collapse {
  width: 200px;
}
.el-menu--collapse>.el-submenu>.el-submenu__title span {
  visibility: visible;
  height: unset;
  width: unset;
}
.el-menu--collapse>.el-submenu>.el-submenu__title {
  padding: 10px;
  line-height: unset;
  height: unset;
  &:hover {
    background-color: rgba(91, 192, 222, 0.3);
  }
}
.el-submenu__title {
  text-align: center;
}
.el-tree-node__content:hover {
  background-color: rgba(91, 192, 222, 0.3);
}
.el-tree-node__label {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// This defines height of all Element UI dropdown menus
.el-input__inner {
  height: 32px;
}
// For the badges inside the el dropdown menus
.el-tag.el-tag--info {
  background-color: #41b883;
  color: white;
  border: none;
}

i.el-tag__close.el-icon-close {
  background-color: #41b883 !important;
  color: #383838;
}


.el-tag.el-tag--info .el-tag__close { 
  color: #383838 !important;
}

#tabbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.w-33 {
  width:33%;
}

i.el-icon-circle-close {
  // For el-select dropdown clear icon
  color: #dc3545 !important;
}

.el-slider__stop {
  border: 1px solid #b4b4b4;
}

.el-slider__runway.disabled .el-slider__bar {
  background-color: #409EFF;
}

.mpath-logo {
  margin-bottom: -25px;
  margin-right: 85px;
}

.el-step__head.is-process {
  .el-step__icon {
    color: #67C23A;
    border-color: #67C23A;
    border-style: dotted;
    transform: scale(1.5);
  }
}

.el-step__title.is-process {
  color: #67C23A;
}

.el-input.error, .el-textarea.error {
  input, textarea {
    border-color: #e84444;
  }
}

.el-select.error {
  .el-input {
    input {
      border-color: #e84444;
    }
  }
}


.error {
  .vue2-datepicker, .mx-datepicker {
    input {
      border-color: #e84444;
    }
  }
}

.error.vue2-datepicker {
  input {
    border-color: #e84444;
  }
}