body {
  font-family: 'Roboto', sans-serif;
  /*overflow-y: hidden;*/
}
p {
  word-break: break-all;
}
button:focus,
input[type=button]:focus {
  outline: none;
}
.font-sm {
  font-size: 13px;
}
.progress-0 {
  .progress-bar {
    margin-left: 1vw;
  }
}
.pg-content {
  width: 100%;
  height: 20px;
  font-weight: bold;
}
.progress-bar {
  color: black;
}
.icon-btn {
  background: #fff;
  cursor: pointer;
  height: 30px;
  width: 30px;
  font-size: 18px;
  justify-content: center;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65) !important;
  &:hover {
    background: #f4f4f4;
  }
}
.brand-sidebar {
  background-image: url('map-image.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  margin: 60px 50px;
  width: 70vw;
}
.auth-sidebar {
  width: 30vw;
  float: right;
  margin: 60px 50px;
}
.btn-social {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.fav-btn {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 10rem;
  padding: 0.25rem 0.6rem;
  font-size: 0.875rem;
  line-height: 1.25;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  &:hover {
    color: rgba(0, 0, 0, 0.7);
    background-color: #e2e6ea;
    border-color: #dae0e5;
  }
}
.fbody-icon {
  font-size: 15px;
  color: gray;
  margin-right: 10px;
}
.crud-actions {
  display: flex;
  justify-content: flex-end;
  color: gray;
  span {
    cursor: pointer;
  }
}
.delete-action:hover {
  color: red;
}
.edit-action:hover {
  color: blue;
}
.pac-container {
  z-index: 100000;
}

.signup-section,
.signin-section {
  .form-signin {
    margin-top: 10vh;
    width: 450px;
    display: block;
    background-color: #f7f7f7;
    box-shadow: 0 0 3px 3px #888;
    border-radius: 2px;
  }
  .social-box {
    margin: 0 auto;
    padding: 38px;
    border-bottom: 1px #ccc solid;
  }
  .social-box a {
    font-weight: bold;
    font-size: 18px;
    padding: 8px;
  }
  .social-box a i {
    font-weight: bold;
    font-size: 20px;
  }
  .heading-desc {
    font-size: 20px;
    font-weight: bold;
    padding: 38px 38px 0px 38px;
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin .checkbox {
    font-weight: normal;
  }
  .form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: 20px;
    padding: 20px;
    box-sizing: border-box;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="text"] {
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .login-footer {
    background: #f0f0f0;
    margin: 0 auto;
    border-top: 1px solid #dadada;
  }
  .login-footer .left-section a {
    font-weight: bold;
    color: #8a8a8a;
    line-height: 19px;
  }
  .mg-btm {
    margin-bottom: 20px;
  }
}
