name: e2e-tests
on: [push]
jobs:
  cypress-run:
    name: "Cypress run"
    runs-on: ubuntu-latest
    services:
      db:
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
        image: mysql:8.0
        ports:
          - 3306

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.6.6' # Specify your version

      - name: Start rails server and run e2e test
        env:
          RAILS_ENV: test
          MGIS_DATABASE_USERNAME: root
          MGIS_DATABASE_PASSWORD: root
          MGIS_DATABASE_HOST: 127.0.0.1
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}

        run: |
          sudo apt-get -yqq install libpq-dev
          sudo service mysql start
          gem install bundler
          bundle install --jobs 4 --retry 3
          yarn add cypress
          bundle exec rails db:create
          bundle exec rails db:migrate RAILS_ENV=test
          bundle exec rails db:seed RAILS_ENV=test
          bundle exec rails assets:precompile RAILS_ENV=test
          bundle exec rails server -e test -p 5017 -d
          yarn cypress run --record --parallel --project ./spec --spec "spec/cypress/integration/admin_panel/**/*.js"

  cypress-run-2:
    name: "Cypress run 2"
    runs-on: ubuntu-latest
    services:
      db:
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
        image: mysql:8.0
        ports:
          - 3306

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.6.6' # Specify your version

      - name: Start rails server and run e2e test
        env:
          RAILS_ENV: test
          MGIS_DATABASE_USERNAME: root
          MGIS_DATABASE_PASSWORD: root
          MGIS_DATABASE_HOST: 127.0.0.1
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}

        run: |
          sudo apt-get -yqq install libpq-dev
          sudo service mysql start
          gem install bundler
          bundle install --jobs 4 --retry 3
          yarn add cypress
          bundle exec rails db:create
          bundle exec rails db:migrate RAILS_ENV=test
          bundle exec rails db:seed RAILS_ENV=test
          bundle exec rails assets:precompile RAILS_ENV=test
          bundle exec rails server -e test -p 5017 -d
          yarn cypress run --record --parallel --project ./spec --spec "spec/cypress/integration/client_panel/client_user/**/*.js"

  cypress-run-3:
    name: "Cypress run 3"
    runs-on: ubuntu-latest
    services:
      db:
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
        image: mysql:8.0
        ports:
          - 3306

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.6.6' # Specify your version

      - name: Start rails server and run e2e test
        env:
          RAILS_ENV: test
          MGIS_DATABASE_USERNAME: root
          MGIS_DATABASE_PASSWORD: root
          MGIS_DATABASE_HOST: 127.0.0.1
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}

        run: |
          sudo apt-get -yqq install libpq-dev
          sudo service mysql start
          gem install bundler
          bundle install --jobs 4 --retry 3
          yarn add cypress
          bundle exec rails db:create
          bundle exec rails db:migrate RAILS_ENV=test
          bundle exec rails db:seed RAILS_ENV=test
          bundle exec rails assets:precompile RAILS_ENV=test
          bundle exec rails server -e test -p 5017 -d
          yarn cypress run --record --parallel --project ./spec --spec "spec/cypress/integration/client_panel/users/*.js"