<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head_items' %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
    <% if user_signed_in?  %>
      <%= render 'layouts/navbar' %>
    <% end %>
    <%= yield %>
  </body>
</html>
<!-- Nothing to add -->
